.about{
    padding: 3rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    background: #fff;
    .image{
        order: 2; 
        margin: 0 auto;
        img{
            max-width: 250px;
            @media screen and (min-width:$desktop-size) {
                max-width: 400px;
            }
            @media screen and (min-width:$max-width) {
                max-width: 500px;
            }
        }
    }
    h2{
        text-align: center;
    }
    .description{
        display: flex;
        flex-flow: column nowrap;
        gap: .5rem;
        order: 3;
    }
    a{
        text-align: center;
        margin: 1.5rem 0;
        .btnCalculateHome{
            background: #FF6231;
            border: none;
            &:hover{
                background: #FF6231;
                }
    
        }
    }
    @media screen and (min-width:$desktop-size) {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        padding: 3rem 10rem;
        .image{
            grid-row: span 2;
            max-width: 300px;
        }
        h2, a{
            text-align: left;
        }
        h2{
            display: flex;
            align-items: flex-end;
        }

    }
    
}