.about{
    padding: 3rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    background: #fff;
    .image{
        order: 2; 
        margin: 0 auto;
        width: 100%;
    }
    h2{
        text-align: center;
        font-size: 2.5rem;
        color: $primary-color;
        @media screen and (min-width:$desktop-size) {
            font-size: 3.5rem;
        }
    }
    .description{
        display: flex;
        flex-flow: column nowrap;
        gap: .5rem;
        order: 3;
    }
    a{
        text-align: center;
        margin: 1.5rem 0;
        .btnCalculateHome{
            background: #FF6231;
            border: none;
            &:hover{
                background: #c72f00;
            }
            &:focus{
                box-shadow:
                0 0 0 3px #fff,
                0 0 0 6px #c72f00 !important;
            }
    
        }
        &:focus{
            outline: none;
        }
    }
    @media screen and (min-width:$desktop-size) {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-column-gap: 3rem;
        padding: 3rem  0;
        .image{
            grid-row: span 2;
        }
        h2, a{
            text-align: left;
        }
        h2{
            display: flex;
            align-items: flex-end;
        }

    }
    
}