.btn{
    border: none;
    outline: none;
    font-family: $main-font-family;
    height: 52px;
    font-size: 22px;
    padding: 12px 40px 12px 40px;
    font-weight: 500;
    border-radius: 5px;
    background: $button-bg-defaultColor;
    color: $button-font-Color-darkBG;

    &active{
        background: $button-bg-activeColor;
    }
    &:hover{
        background: $button-bg-hoverColor;
    }
    &:focus{
        background: $button-bg-focusColor;
    }

    @media screen and (min-width: $desktop-size){
        height: 54px;
        font-size: 24px;
        padding: 13px 35px;
        
    }
}
.disabled{
    background: $bg-color-disabledButton;
    &active{
        background: $bg-color-disabledButton;
    }
    &:hover{
        background: $bg-color-disabledButton;
    }
    &:focus{
        background: $bg-color-disabledButton;
    }
}
input{
    
    border: 2px solid $primary-color;
    border-radius: 5px;
    height: 40px;
    color: $primary-color;
    font-weight: bold;
    &::placeholder{
        color: $primary-color;
    }
}
textarea{
    border: 2px solid $primary-color;
    border-radius: 5px;
    height: 150px;
    resize: none;
}
input[type="submit"]{
    font-family: $main-font-family;
    height: 58px;
    font-size: 28px;
    padding: 12px 43px 12px 43px;
    font-weight: bold;
    border-radius: 5px;
    background: $button-bg-defaultColor;
    color: $button-font-Color-darkBG;
    @media screen and (min-width: $desktop-size){
        height: 54px;
        font-size: 24px;
        padding: 13px 35px;
        
    }
}
*{
    font-family: $main-font-family;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 20px;
}
p{
    font-size: 16px;
}
.App{
    background: $primary-color-shade;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
}
.main{
    // min-height: 86vh;
    flex: 1;
    display: flex;
    justify-content: center;
    background: $primary-color-shade;
}
.unit-button{
    background: #fff;
    border-radius: 5px;
    border: 2px solid $primary-color-shade;
    height: 40px;
    font-size: 20px;
    color: $primary-color;
}