.contact {
    max-width: $max-width;
    background: #FFF;
    margin: 2rem 2rem;
    padding-bottom: 3rem;
    border-radius: 10px;
    width: 100%;
    @media only screen and (min-width: $max-width) {
        padding: 1rem 15rem;
    }
    span{
        color: red;
    }
    h2{
        padding: 2rem;
        text-align: center;
        color: $primary-color;
    }
    p{
        padding: 0 1rem;
    }
    form{
        padding: 2.5rem 1rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 1.5rem;

        div{
            display: flex;
            flex-flow: column nowrap;
            gap: 1rem;
        }
        .contact-name,
        .contact-phone{
            flex-flow: column;
            gap: 1rem;
            @media only screen and (min-width: $tablet-size) {
                flex-flow: row nowrap;
                gap: .5rem;
            } 
        }
        .firstName,
        .lastName,
        .country,
        .phone{
            flex: 1;

        }
        .country-select {
            background-color: white;
        }
        .contact-button{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2.5rem;
        }

    }
}