.home{
    @media screen and (min-width:$desktop-size) {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        .about-search-nutrient-wrapper{
            background: #fff;
            width: 100%;
            .max-width{
                padding:0;
                width: 80%;
                max-width: 1400px;
                margin: auto;
                @media screen and (min-width: $max-width){
                    padding: 0;
                    padding-bottom: 2rem;
                }
               
            }

            .about,
            .search,
            .searchNutrient{
                width: 100%;
                @media screen and (min-width: $max-width) {
                    padding: 2rem 0;
                }
            }
        }
        .recalculate-wrapper,
        .subscribe-container{
            flex: 0 0 35%;
            
        }
        .home-calculate-subscribe-wrapper{
            width: 100%;
            .max-width{
                width: 80%;
                margin: auto;
                display: flex;
                grid-gap: 3rem;
                padding: 2rem 0;
                @media screen and (min-width: $max-width) {
                    max-width: $max-width;
                    padding: 4rem 0;
                    grid-gap: 5rem;
                }
            }
        }
        
        .recalculate-wrapper{
            padding: 0;
            flex: 1 0 40%;
            margin: 0;
            justify-content: baseline;
            p{
                max-width: 440px;
                @media screen and (min-width: $tablet-size) {
                    margin: .7rem 0;
                }
                @media screen and (min-width: $desktop-size) {
                    margin: .6rem 0;
                }


            }

            
        }
        .subscribe-container{
            flex: 1 0 40%;
            margin: 0;
            padding: 0;
            .image-wrapper{
                padding: 1.5rem 0 1rem;
                // padding: 1rem 0 0 0;
            }
            input[type="email"]{
                max-width: 350px;

            }

            input[type="submit"]{
                height: 54px;
                font-size: 24px;
                padding: 13px 35px;
                border: 1px solid;
            }

        }
    }
 
}