.recalculate-wrapper{
  background: $primary-color-shade;
  margin: 0 10px;
  padding: 1.5rem 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  .image-text-wrapper{
    background: #fff;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    p{
      padding: 0 4rem;
      text-align: center;
    }
    @media only screen and (min-width: $tablet-size) {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    } 
    img{
      width: 50%;
      max-width: 180px;
      margin-bottom: 1.5rem;

    }

  }
  .button-wrapper{
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    @media only screen and (min-width: $tablet-size) {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    } 
  }
}