.search {
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 10px;
    background:$primary-color-shade;
    border-radius: 5px;
    border: 1px solid black;
    @media only screen and (min-width: $tablet-size) {
        border-radius: 10px;
    }
    h2{
        margin: 2rem 0 1rem 0;
    }
    p{
        margin-bottom: 1.5rem;
    }
    .userSearchControls {
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      width: 100%;
      input[type="text"] {
        margin-right: 1rem;
        width: 100%;
      }
      button{
          margin: 2rem 0;
      }
    }
  
    /*the container must be positioned relative:*/
    .autocomplete {
      position: relative;
      display: inline-block;
      width: 100%;
    }
  
  
    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }
  
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }
  
    /*when hovering an item:*/
    .autocomplete-items div:hover {
      background-color: #e9e9e9;
    }
  
    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
      background-color: DodgerBlue !important;
      color: #ffffff;
    }
  }