.subscribe-container{
    background: $primary-color-shade;
    padding: 0 10px 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 10px 1.5rem;


    .image-wrapper{
        background: #fff;
        width: 100%;
        text-align: center;
        padding-top: 1.5rem;
    }
    img{
        width: 50%;
        max-width: 200px;
        margin-bottom: 1.5rem;
    }
    p{
        background: #fff;
        width: 100%;
        text-align: center;
    }
    form{
        background: #fff;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 2rem;

        input[type="email"]{
            width: 90%;
            margin: .5rem;
            margin: 1rem 0;
            &::placeholder{
              padding-left: 1rem;  
            }
        }
        @media screen and (min-width:$desktop-size) {
            flex-flow: row nowrap;
            border-radius: 10px;
            input[type="email"]{
                margin-right: 1rem;
            }
        }
    }
}



// const expr = 'Papayas';
// switch (expr) {
//   case 'Oranges':
//     console.log('Oranges are $0.59 a pound.');
//     break;
//   case 'Mangoes':
//   case 'Papayas':
//     console.log('Mangoes and papayas are $2.79 a pound.');
//     // expected output: "Mangoes and papayas are $2.79 a pound."
//     break;
//   default:
//     console.log(`Sorry, we are out of ${expr}.`);
// }