.subscribe-container{
    background: #fff;
    border-radius: 5px;
    padding: 1.5rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;

    img{
        width: 50%;
        max-width: 200px;
        margin-bottom: 1.5rem;
    }
    form{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 90%;

        input[type="email"]{
            width: 100%;
            margin: .5rem;
            margin: 1rem 0;
            &::placeholder{
              padding-left: 1rem;  
            }
        }
        @media screen and (min-width:$desktop-size) {
            flex-flow: row nowrap;
            border-radius: 10px;
            input[type="email"]{
                margin-right: 1rem;
            }
        }
    }
}