.subscribe-container{
    background: $primary-color-shade;
    padding: 0 10px 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 10px 1.5rem;
    @media screen and (min-width:$desktop-size) {
       padding: 2rem;
       margin: 0 10px 0; 
    }
    .image-wrapper{
        background: #fff;
        width: 100%;
        text-align: center;
        padding-top: 1.5rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        @media screen and (min-width:$desktop-size) {
           border-top-left-radius: 10px;
           border-top-right-radius: 10px;
         }
    }
    img{
        width: 50%;
        max-width: 120px;
    }
    p{
        background: #fff;
        width: 100%;
        text-align: center;
        padding-top: .5rem;
    }
    form{
        background: #fff;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 2rem;
        @media screen and (min-width: $desktop-size){
            padding-bottom: 2.5rem;   
            
        }

        input[type="email"]{
            width: 90%;
            margin: .5rem;
            margin: 1rem 0;
            &::placeholder{
              padding-left: 1rem;  
            }
            
        }
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        @media screen and (min-width:$desktop-size) {
           border-bottom-left-radius: 10px;
           border-bottom-right-radius: 10px;
            input[type="email"]{
                margin-right: 1rem;
            }
        }
        input[type="submit"]{

            @media screen and (min-width: $desktop-size){
                height: 72px;
                font-size: 36px;
                padding: 13px 50px;
                
            }
        }
    }
}

