

// ====================================================
// Header
// ====================================================
$bg-color-header: #D0D0D0;
$color-link-header: black;
$color-link-header-hover: white;
$color-link-border-bottom: white;

// ====================================================
// Footer
// ====================================================
$bg-color-footer: #D0D0D0;
$color-text-footer: black;

