$color-titles:#12317F;

// ====================================================
// Header
// ====================================================
$bg-color-header: #707070;
$color-link-header: black;
$color-link-header-hover: white;
$color-link-border-bottom: white;

