
// ====================================================
// Font
// ====================================================
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
$main-font-family: 'Quicksand', sans-serif;
// ====================================================
// Media Screens
// ====================================================
$tablet-size: 600px;
$desktop-size: 900px;
$max-width: 1400px;
// ====================================================
// colors
// ====================================================

$primary-color:#815497;
$primary-color-shade:#FAF1FF;
$card-bg-teamMembers: #FCEDD3;


// Vitamins colors===================
$vitamin-A: #EABB36;
$vitamin-E: #E8A113;
$vitamin-C: #F69128;
$vitamin-B3: #F56224;
$vitamin-B5: #F1483D;
$vitamin-B6: #EB3860;
$vitamin-K: #B71174;

// Minerals colors===================
$mineral-P: #6D23B5;
$mineral-ZN: #1A4BE5;
$mineral-Ca: #1898E8;
$mineral-K: #20B6CE;
$mineral-Fe: #35C985;
$mineral-Mg: #30B553;
$mineral-Cu: #168B16;

// buttons colors====================
$button-bg-defaultColor: #815497;
$button-bg-hoverColor: #76299B;
$button-bg-activeColor: #B277CE;
$button-bg-focusColor: $button-bg-defaultColor;
$button-bg-disabledColor: #919191;
$button-font-Color-darkBG: #ffffff;

// ====================================================
// Header
// ====================================================
$bg-color-header: $primary-color;
$color-link-header: #FFF;
$color-link-header-hover: white;
$color-link-border-bottom: #F89827;

// ====================================================
// Quiz
// ====================================================
$bg-color-disabledButton: #707070;
$color-text-quizButton: white;
$bg-color-possible-progress: #FFE7CC;
$bg-color-actual-progress: #FF9B28;
$bg-color-answers: #FFEDD1;
$bg-color-answers-hover: #fde8c5;
$bg-color-correct-answer: #BFF095;
$bg-color-wrong-answer: #FDBCBC;
$color-detail: #707070;
$color-border-answer:  #707070;


// ====================================================
// Nutrient Calculator
// ====================================================
$bg-color-healthConcern: #FFEDD1;

// ====================================================
// Singe page view
// ====================================================
$bg-color-richFood:#D7EAB5;
$bg-hover-color-richFood:#BCDB85;

// ====================================================
// Footer
// ====================================================
$bg-color-footer: $primary-color;
$color-text-footer: #FFFFFF;

