.descriptionPage{
    max-width: $max-width;

    .detailsContainer {

        padding: 1rem 10px;
        display: flex;
        flex-direction: column;
        .itemDescription{
            display: flex;
            flex-flow: column nowrap;
            grid-gap: 1rem;    
            padding-bottom: 3rem;
            background: #fff;
            padding: 1rem 10px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            @media screen and (min-width: $desktop-size){
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
            .itemName{
                text-align: center;
                @media screen and (min-width: $desktop-size){
                    padding: 2rem;
                }

            }
            .itemContent{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                grid-gap: 2rem;

                @media screen and (min-width: $desktop-size){
                    flex-flow: row nowrap;
                    width: 60%;
                    margin: auto;
                }
                img{
                    width: 40%;
                    margin: auto;
                    max-width:200px;

                }
                p{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    @media screen and (min-width: $desktop-size){
                        width: 80%;
                    }
                }
            }
        }
        .descriptiveContent{
            background: #fff;
            padding: 1rem 10px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;

            @media screen and (min-width: $desktop-size){
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                .tables{
                    display: flex;
                    flex-flow: row nowrap;
                    grid-gap: 1rem;
                    justify-content: center;
                    .tableContent{
                        flex: 1 0 40%;
                        max-width: 450px;
                    }
                }
            }
            h2{
                text-align: center;
                @media screen and (min-width: $desktop-size){
                    padding: 2rem;
                }
            }

        }
        .otherItemsContainer{
            margin-top: 1.5rem;
            background: #fff;
            padding: 1.5rem 10px;
            border-radius: 5px;
            @media screen and (min-width: $desktop-size){
                border-radius: 10px;
            }
            h2{
                text-align: center;
                @media screen and (min-width: $desktop-size){
                    padding: 2rem 0rem 0rem 0rem;

                }
            }

            .headDescription{
                text-align: center;
                padding: 0.5rem;
                max-width: 600px;
                margin: 0.5rem auto 1rem auto;
                line-height: 1.4;

            }

        }

    }
    .otherItems{
        padding: 1rem 0;
        display: flex;
        flex-flow: row wrap;
        grid-gap: .8rem;
        justify-content: space-evenly;
        max-width: 900px;
        margin: auto;
        padding-bottom: 3rem;
        a{
            flex: 1 0 40%;
            background: $bg-color-richFood;
            padding: 1rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: black;
            border-radius: 5px;
            max-width: 280px;
            // &:hover{
            //     background: #bg-hover-color-richFood;
            // }

            @media screen and (min-width: $desktop-size){
                flex: 0 0 20%;
                // max-width: 200px;
            }
            
            .otherItem{
                width: 100%;
                border-radius: 5px;
                @media screen and (min-width: $desktop-size){
                    border-radius: 10px;
            
                }

                .image-wrapper{
                    // background: #fff;
                    // // padding: 1rem;
                    // width: 9rem;
                    // text-align: center;
                    // // min-height: 180px;
                    // display: flex;
                    // flex-flow: column;
                    // justify-content: center;
                    // align-items: center;
                    overflow: hidden;
                    border-radius: 5px;
                    @media screen and (min-width: $desktop-size){
                        border-radius: 5px;
                    }
                    img{
                        width: 9rem;
                        margin: auto;
                        @media screen and (min-width: $desktop-size){
                            // width: 65%;
                            // max-width: 90px;
                        }
                    }

    
                }
            }

            @media screen and (min-width: $desktop-size){
                border-radius: 10px;
            }
            h4{
                text-align: center;
                padding: .5rem 0 0 0;
                font-size: 19px;
            }
        }
        a:hover{
            filter: saturate(1.5);
        }
        a:hover img{
            transform: scale(1.05);
        }

    }
    .subscribe-calculator-wrapper{

        @media screen and (min-width: $desktop-size){
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            grid-gap: 4rem;
            margin: 2rem 0;
            padding: 0 10px;
            // *{
            //     border: 1px solid red;
            // }
            .subscribe-container,
            .recalculate-wrapper{
                flex: 1 0 40%;
                margin: 0;
                padding: 0;
                input[type="email"]{
                    max-width: 350px;
    
                }
    
                input[type="submit"]{
                    height: 54px;
                    font-size: 24px;
                    padding: 13px 35px;
                    border: 1px solid;
                }

            }
        }

    }
    
}

