*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
}
@import "variables";

//============== HEADER =============
@import "header/header";
@import "header/navigation";

//============== HOME =============
.main{
    min-height: 88vh;
}
@import "subscribe";


//============== ABOUT=============
@import "about";
//============== QUIZ =============
@import "quiz/Quiz";

//============== DESCRIPTION PAGE =============
@import "descriptionPage";

//============== FOOTER =============
@import "footer/footer";