@import "variables";
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font-family;
}


//============== HEADER =============
@import "header/header";
@import "header/navigation";
//======BASIC COMPONENT ============
@import "basicComponents";
//============== HOME =============
.App{
    background: $primary-color-shade;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
}
.main{
    flex: 1;
}
@import "subscribe";


//============== ABOUT=============
@import "about";
//============== CONTACT ==========
@import "contact";
//============== TEAM =============
@import "team";
//============== QUIZ =============
@import "quiz/Quiz";

//============== DESCRIPTION PAGE =============
@import "descriptionPage";

//============== FOOTER =============
@import "footer/footer";