.header{
    background: $bg-color-header;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    h1{
        background-color: white;
        color: black;
        padding: .2rem .5rem;
        border: 2px solid black;
    }
    a{
        text-decoration: none;
    }
    .menuButton{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        svg{
            font-size: 2rem;
            color: white;
            @media screen and (min-width: $desktop-size){
                display: none;
            }
        }
    }
}

