
.header{
    background: $bg-color-header;
    .max-width-wrapper{
    
        display: flex;
        padding: 0 2rem;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    
        @media screen and (min-width: $desktop-size){
            width: 80%;
            max-width: 1400px;
            margin: auto;
            padding: 0;
        }
        @media screen and (min-width: $max-width){
            padding: 0;
        }

        img{
            height: 50px;
            display: flex;
            justify-content: flex-end;
        }
        a{
            text-decoration: none;
        }
        .menuButton{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            svg{
                font-size: 2rem;
                color: white;
                @media screen and (min-width: $desktop-size){
                    display: none;
                }
            }
        }
    }
}
