
.header{
    background: $bg-color-header;
    position: sticky;
    position: fixed;
    top: 0; left:0; right: 0;
    z-index: 100;


    .max-width-wrapper{
    
        display: flex;
        padding: 0 1rem;
        justify-content: space-between;
        align-items: stretch;
        height: 100%;
    
        @media screen and (min-width: $desktop-size){
            // width: 80%;
            max-width: 1400px;
            margin: 0 2rem;
            padding: 0;
        }
        @media screen and (min-width: $max-width){
            padding: 0;
            margin: auto;
        }

        img{
            height: 50px;
            display: flex;
            justify-content: flex-end;
        }
        a{
            text-decoration: none;
        }
        .menuButton{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            svg{
                font-size: 2rem;
                color: white;
                @media screen and (min-width: $desktop-size){
                    display: none;
                }
            }
        }
    }
}

.start-page {
    .max-width-wrapper {
        @media screen and (min-width: $desktop-size) {
            width: 70%;
            margin: auto;
            padding: 0;
        }
        @media only screen and (min-width: 1500px) {
            max-width: 1400px;
        }
    }
}
