.navigation{
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    order: 3;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 1rem;
        height: 100%;

        a{
            color: $color-link-header;
            text-decoration: none;
            border-bottom: 6px solid $primary-color;
            &:hover {
                border-bottom: 6px solid $color-link-border-bottom;
            }
        }
        
        a,li{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100%;
        }
    }
    display: none;
    @media screen and (min-width: $desktop-size){
        display: flex;
        min-height: 100%;
    }
}
.mobileMenu{
    background: $primary-color;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0; right: 0; left: 0; top:3.1rem;
    height: 95vh;
    z-index: 10;
    ul{
        display: flex;
        flex-flow: column;
        width: 50%;
        height: 50%;
        font-size: 28px;
        li{
            border-bottom: none;
            border-left: 6px solid $primary-color;
            width: 100%;
            display: flex;
            justify-content: center;
            cursor: pointer;
            border-left: 6px solid $primary-color;
            
            a{
                width: 50%;
                border-bottom: none !important;
                color: $color-link-header;
            }
            &:hover{
                border-left: 6px solid $color-link-border-bottom;
                border-bottom: none !important;
            }
        }
        @media screen and (min-width: $desktop-size){
            display: none;
        }

        
    }
}
.blocked{
    overflow-y: hidden;
}