.nutrientsContainer{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.nutrientBreakdown{

    border: 1px solid black;
    padding:1rem;
}

.nutrientBreakdown h2{
    text-align: center;
}

.nutrientItem{

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
}