.nutrient-results-wrapper {
    max-width: $max-width;
    margin: 1rem auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;

    .nutrient-calculator-introduction {
        margin:0 10px;
        background: #fff;
        border-radius: 5px;
        margin-top: 2rem;
        padding: 0 10px;
        @media only screen and (min-width: $tablet-size) {
            border-radius: 10px;
        }


        .nutrient-calculator-header {
            margin: 0 auto;
            text-align: center;
            padding: .5rem 0 1rem 0;
            h2{
                margin-bottom: 2rem;
            }
            p{
                display: flex;
                text-align: left;
                max-width: 100%;
            }
        }
    
    }
    
    .results-wrapper {
        display: flex;
        gap: 1rem;
        flex-flow: column;
        padding: 1rem;
        border: 1px solid #ccc;

        .result-heading {
            text-align: center;
        }

        .chart-vitamin-result-wrapper,
        .chart-mineral-result-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            .chart-wrapper {
                font-weight: 700;
            }
        }

        .health-concern-wrapper {
            display: grid;
            grid-gap: 1rem;
            border: 1px solid black;
            background: #fff;
            border-radius: 5px;
            padding: 0 10px;
            @media only screen and (min-width: $tablet-size) {
                border-radius: 10px;
            }

            .health-concern-description {
                text-align: left;
                h2{
                    text-align: center;
                    margin: 2rem 0;
                }
            }

            .options {
                display: flex;
                flex-flow: row wrap;
                gap: 1rem;

                & > .checkbox-wrapper {
                    flex: 0 0 48%;
                    display: grid;
                    grid-gap: 1rem;
                    justify-items: center;
                    padding: 1rem;
                    background: $bg-color-healthConcern;
                    border-radius: 5px;
                    @media only screen and (min-width: $tablet-size) {
                        border-radius: 10px;
                    }

                    .wrapper {
                        display: grid;
                        
                        .emoji {
                            grid-row: 1/-1;
                            grid-column: 1/-1;
                        }

                        input {
                            grid-row: 1;
                            grid-column: 1/-1;
                            margin-left: 0.5rem;
                            z-index: 2;
                        }
                    }
                    
                }
            }
        }
    }

    .recalculator-wrapper {
        text-align: center;
        display: grid;
        grid-gap: 2rem;
        padding: 1rem 0;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }
}