.nutrient-results-wrapper {
    max-width: $desktop-size;
    margin: 1rem auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;

    .nutrient-calculator-introduction {
        margin:0 .6rem;
        background: #fff;
        border-radius: 5px;
        margin-top: 2rem;
        padding: 0 10px;
        @media only screen and (min-width: $tablet-size) {
            border-radius: 10px;
        }

        .nutrient-calculator-header {
            margin: 0 auto;
            text-align: center;
            padding: .5rem 0 1rem 0;

            @media only screen and (min-width: $max-width) {
                padding: .5rem 8rem 1rem 8rem;
            }

            h2 {
                font-size: 1.6rem;
                margin-bottom: 2rem;

                @media only screen and (min-width: $max-width) {
                    font-size: 4rem;
                }
            }
            p {
                display: flex;
                text-align: left;
                max-width: 100%;
                margin-bottom: 1.5rem;

                @media only screen and (min-width: $max-width) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .results-wrapper {
        display: flex;
        // gap: 1rem;
        flex-flow: column;
        margin: 1rem;
        border-radius: .5rem;

        .result-heading {
            text-align: center;
        }

        .vitamin-mineral-tab-wrapper {
            display: flex;
            & > li {
                flex: 1 0 49%;
                text-align: center;
                font-weight: bold;
                font-size: 1.3rem;
                color: #a82d96;
                background-color: unset;
                padding-bottom: 0;
                border: unset;
                border-bottom: 1px solid #92409f;
            }

            
            .react-tabs__tab--selected:after {
                content: "";
                display: block;
                width: 90%;
                margin: 0 auto;
                border-bottom: .5rem solid #92409f;
            }
        }

        .react-tabs {
            @media only screen and (min-width: $desktop-size) {
                background: #fff;
                height: 960px;
                overflow: hidden;
            }
        }

        .chart-vitamin-result-wrapper,
        .chart-mineral-result-wrapper {
            display: grid;
            align-items: center;
            padding: 1rem;
            padding-bottom: 0;
            border-radius: 5px;
            margin-bottom: 1rem;
            background-color: #fff;

            @media only screen and (min-width: $tablet-size) {
                grid-template-columns: 1.2fr .8fr;  
                border-radius: 10px;
                background-color: unset;
            }
            .chart-wrapper {
                height: 25.75rem;
                width: 100%;
                font-weight: 700;

                .subcenter-text,
                .bottomcenter-text {
                    font-weight: 500;
                }

                .tooltip {
                    display: flex;
                    flex-flow: row;
                    grid-gap: .5rem;
                    align-items: center;
                }

                @media only screen and (min-width: $tablet-size) {
                    height: 35rem;
                }
            }

            .vitamin-result-wrapper,
            .mineral-result-wrapper {
                bottom: 3rem;
                position: relative;
                @media only screen and (min-width: $tablet-size) {
                    margin-bottom: 1.7rem;
                    position: unset;
                }
            }

            .vitamins-list,
            .minerals-list {
                    // @media only screen and (min-width: $tablet-size) {
                    //     max-width: 50%;
                    // }
                ul {
                    display: grid;
                    grid-gap: .8rem;
                    font-weight: 600;
                }   
            }
        }

        .chart-vitamin-result-wrapper {
            @media only screen and (min-width: $desktop-size) {
                margin-bottom: 0;
                position: relative;
                top: -3.5rem;
            }
        }

        .chart-mineral-result-wrapper {
            @media only screen and (min-width: $desktop-size) {
                position: relative;
                top: -9.5rem;
            }
        }

        .nutrient-note {
            padding: 0 1rem;
            position: relative;
            top: -1rem;
        }
        .reference{
            background: $primary-color-shade;
            color:black;
            padding: .5rem;
            text-align: center;
            @media only screen and (min-width: $tablet-size) {
                text-align: left;
            }

        }

        .health-concern-wrapper {
            display: grid;
            grid-gap: 1rem;
            border: 1px solid black;
            background: #fff;
            border-radius: 5px;
            padding: 0 10px 3rem 10px;
            margin-top: 1.5rem;
            @media only screen and (min-width: $tablet-size) {
                border-radius: 10px;
            }

            .health-concern-description {
                text-align: left;
                h2{
                    text-align: center;
                    margin: 2rem 0;
                }
            }

            .options form{
                display: flex;
                flex-flow: row wrap;
                grid-gap: 1rem;
                input[type="submit"]{
                    margin: auto;
                }
                label{
                    font-weight: bold;
                }
                @media only screen and (min-width: $tablet-size) {
                    margin: .5rem 1rem;
                    grid-gap: 1.5rem;
                    justify-content: space-evenly;
                }

                & > .checkbox-wrapper {
                    flex: 0 0 48%;
                    display: grid;
                    grid-gap: 1rem;
                    justify-items: center;
                    padding: 1rem;
                    background: $bg-color-healthConcern;
                    border-radius: 5px;

                    @media only screen and (min-width: $tablet-size) {
                        border-radius: 10px;
                        flex: 0 0 22%;
                    }

                    .wrapper {
                        display: grid; 
                        width: 100%;
                        .emoji {
                            grid-row: 1/-1;
                            grid-column: 1/-1;
                            width: 100%;

                        }

                        input {
                            grid-row: 1;
                            grid-column: 1/-1;
                            margin-left: 0.5rem;
                            z-index: 2;
                        }
                    }
                    
                }
            }

        }

        .nutrient-color-link-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;
            padding: .6rem;
            text-decoration: none;
        
            .nutrient-name-color-wrapper {
                display: flex;
                align-items: center;
                gap: .7rem;
                svg {
                    width: 1rem;
                    height: 1rem;
                }

                .vitamin1 {
                    fill: #eabb36;
                }
            
                .vitamin2 {
                    fill: #e8a113;
                }
            
                .vitamin3 {
                    fill: #f69128;
                }
            
                .vitamin4 {
                    fill: #f1483d;
                }
            
                .vitamin5 {
                    fill: #f1483d;
                }
            
                .vitamin6 {
                    fill: #eb3860;
                }
            
                .vitamin7 {
                    fill: #b71174;
                }

                .mineral1 {
                    fill: #7630b9;
                }
            
                .mineral2 {
                    fill: #2957e6;
                }
            
                .mineral3 {
                    fill: #2553e6;
                }
            
                .mineral4 {
                    fill: #2ab9d0;
                }
            
                .mineral5 {
                    fill: #3ecb8a;
                }
            
                .mineral6 {
                    fill: #33af53;
                }
            
                .mineral7 {
                    fill: #219021;
                }
            }
        }

        .vitamin1border {
            border: 4px solid #eabb36;
            color: #eabb36;
        }
    
        .vitamin2border {
            border: 4px solid #e8a113;
            color: #e8a113;
        }
    
        .vitamin3border {
            border: 4px solid #f69128;
            color: #f69128;
        }
    
        .vitamin4border {
            border: 4px solid #f1483d;
            color: #f1483d;
        }
    
        .vitamin5border {
            border: 4px solid #f1483d;
            color: #f1483d;
        }
    
        .vitamin6border {
            border: 4px solid #eb3860;
            color: #eb3860;
        }
    
        .vitamin7border {
            border: 4px solid #b71174;
            color: #b71174;
        }

        .mineral1border {
            border: 4px solid #7630b9;
            color: #7630b9;
        }
    
        .mineral2border {
            border: 4px solid #2957e6;
            color: #2957e6;
        }
    
        .mineral3border {
            border: 4px solid #2553e6;
            color: #2553e6;
        }
    
        .mineral4border {
            border: 4px solid #2ab9d0;
            color: #2ab9d0;
        }
    
        .mineral5border {
            border: 4px solid #3ecb8a;
            color: #3ecb8a;
        }
    
        .mineral6border {
            border: 4px solid #33af53;
            color: #33af53;
        }
    
        .mineral7border {
            border: 4px solid #219021;
            color: #219021;
        }
    }

    .recalculator-wrapper {
        text-align: center;
        display: grid;
        grid-gap: 2rem;
        padding: 1rem 0;
        background-color: #fff;
        border-radius: 5px;

        @media only screen and (min-width: $tablet-size) {
            border-radius: 10px;
        }

    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }    
}

.descriptiveContent{
    background: #fff;
    padding: 1rem 10px;
    border-radius: 5px;
    @media screen and (min-width: $desktop-size){
        border-radius: 10px;
    }
    h2{
        text-align: center;
    }
    .otherItems{
        padding: 1rem 0;
        display: flex;
        flex-flow: row wrap;
        grid-gap: .8rem;
        a{
            flex: 0 0 40%;
            border: 1px solid red;
            background: $bg-color-richFood;
            padding: .5rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: black;
            h4{
                text-align: center;
            }
            border-radius: 5px;
            @media screen and (min-width: $desktop-size){
                border-radius: 10px;
            }

        }
    }
}
