.calculator-start-wrapper {
    margin: 1rem;
    max-width: $max-width;
    padding: 1rem;
    display: flex;
    background: #fff;
    border-radius: 5px;
    flex-flow: column wrap;
    gap: 2rem;

    @media only screen and (min-width: $tablet-size) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media only screen and (min-width: $max-width) {
        width: 1400px;
    }

    .calculator-start-title-mobile {
        text-align: center;
        max-width: 150px;
        margin: auto;
        color: $primary-color;
        @media only screen and (min-width: $tablet-size) {
            display: none;

        }
    }

    .image-wrapper {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (min-width: $max-width) {
            grid-row: 1/4;
        }
        img{
            max-width: 300px;
            @media only screen and (min-width: $max-width) {
                max-width: 550px;
            }
        }
        
    }

    .calculator-start-description {

        p{
            max-width: 500px;
            margin: auto;
            @media only screen and (min-width: $tablet-size) {
                margin-left: 2rem;
                line-height: 1.4rem;
            }
            @media only screen and (min-width: $max-width) {
                font-size: 18px;
                align-items: flex-start;
            }
            
        }
        @media only screen and (min-width: $tablet-size) {
            grid-column: 1/2;
            grid-row: 1;
            display: grid;
            grid-gap: .5rem;
        }
        @media only screen and (min-width: $max-width) {
            grid-row: 2/3;
        }
        .calculator-start-title {
            display: none;
            color: $primary-color;
            @media only screen and (min-width: $tablet-size) {
                margin: 0 2rem;
                display: flex;
                align-items: flex-end;
                font-size: 3.5rem;
            }
            @media only screen and (min-width: $max-width) {
                font-size: 3.5rem;
            }
        }

        .button-wrapper {
            text-align: center;
            margin: 3rem 0;
        
            @media only screen and (min-width: $tablet-size) {
                text-align: left;
                display: flex;
                justify-content: flex-start;
                margin: 2rem;
            }
        }
    }
}