.nutrient-results-wrapper {
    max-width: $max-width;
    margin: 1rem auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;            


    .nutrient-calculator-introduction {
        margin:0 .6rem;
        background: #fff;
        border-radius: 5px;
        margin-top: 2rem;
        padding: 0 10px;
        @media only screen and (min-width: $tablet-size) {
            border-radius: 10px;
        }

        .nutrient-calculator-header {
            margin: 0 auto;
            text-align: center;
            padding: .5rem 0 1rem 0;

            @media only screen and (min-width: $max-width) {
                padding: .5rem 8rem 1rem 8rem;
            }

            h2 {
                font-size: 1.6rem;
                margin-bottom: 2rem;

                @media only screen and (min-width: $max-width) {
                    font-size: 4rem;
                }
            }
            p {
                display: flex;
                text-align: left;
                max-width: 100%;
                margin-bottom: 1.5rem;
                @media only screen and (min-width: 1100px) {
                    text-align: center;
                }

                @media only screen and (min-width: $max-width) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .results-wrapper {
        display: flex;
        // gap: 1rem;
        flex-flow: column;
        margin: 1rem;
        border-radius: .5rem;

        .result-heading {
            text-align: center;
        }

        .vitamin-mineral-tab-wrapper {
            display: flex;
            & > li {
                flex: 1 0 49%;
                text-align: center;
                font-weight: bold;
                font-size: 1.3rem;
                color: #a82d96;
                background-color: unset;
                padding-bottom: 0;
                border: unset;
                border-bottom: 1px solid #92409f;
            }

            
            .react-tabs__tab--selected:after {
                content: "";
                display: block;
                width: 90%;
                margin: 0 auto;
                border-bottom: .5rem solid #92409f;
            }
        }

        .react-tabs {
            @media only screen and (min-width: $desktop-size) {
                background: #fff;
                // height: 930px;
                overflow: hidden;
            }
        }

        .chart-vitamin-result-wrapper,
        .chart-mineral-result-wrapper {
            display: grid;
            align-items: center;
            padding: 1rem;
            padding-bottom: 0;
            border-radius: 5px;
            margin-bottom: 1rem;
            background-color: #fff;

            @media only screen and (min-width: $tablet-size) {
                grid-template-columns: 1.2fr .8fr;  
                border-radius: 10px;
                background-color: unset;
            }
            .chart-wrapper {
                height: 25.75rem;
                width: 100%;
                font-weight: 700;

                .subcenter-text,
                .bottomcenter-text {
                    font-weight: 500;
                }

                .tooltip {
                    display: flex;
                    flex-flow: row;
                    grid-gap: .5rem;
                    align-items: center;
                }

                @media only screen and (min-width: $tablet-size) {
                    height: 32rem;
                }
            }

            .vitamin-result-wrapper,
            .mineral-result-wrapper {
                bottom: 2rem;
                position: relative;
                @media only screen and (min-width: $tablet-size) {
                    margin-bottom: 1.7rem;
                    position: unset;
                }
            }

            .vitamins-list,
            .minerals-list {
                    @media only screen and (min-width: $tablet-size) {
                        max-width: 80%;
                    }
                ul {
                    display: grid;
                    grid-gap: .8rem;
                    font-weight: 600;
                }   
            }
        }

        .chart-vitamin-result-wrapper {

            @media only screen and (min-width: $desktop-size) {
                margin-bottom: 0;
                position: relative;
                top: 0;
            }
        }

        .chart-mineral-result-wrapper {
            @media only screen and (min-width: $desktop-size) {
                position: relative;
                top: -1.5rem;
            }
        }

        .nutrient-note {
            padding: 0 1rem;
            padding-bottom: 1rem;
            position: relative;
            background-color: white;
            top: -1rem;
            @media only screen and (min-width: $tablet-size) {
                display: none;
            }
        }
        .reference{
            background: $primary-color-shade;
            color:black;
            padding: .5rem;
            text-align: center;
            @media only screen and (min-width: $tablet-size) {
                text-align: left;
            }

        }

        .health-concern-wrapper {
            display: grid;
            grid-gap: 1rem;
            background: #fff;
            border-radius: 5px;
            padding: 0 10px 3rem 10px;
            margin-top: 1.5rem;
            @media only screen and (min-width: $tablet-size) {
                border-radius: 10px;
            }

            .health-concern-description {
                text-align: left;
                @media only screen and (min-width: $tablet-size) {
                    max-width: 90%;
                    margin: 0 auto;
                }
                h2{
                    text-align: center;
                    margin: 2rem 0;
                }
            }

            .options {
                @media only screen and (min-width: $tablet-size) {
                    max-width: 91%;
                    margin: 0 auto;
                }
            }

            .options form{
                display: flex;
                flex-flow: row wrap;
                grid-gap: 1rem;
                input[type="submit"]{
                    margin: auto;
                }
                label{
                    font-weight: bold;
                }
                @media only screen and (min-width: $tablet-size) {
                    margin: .5rem 1rem;
                    grid-gap: 1.5rem;
                    // justify-content: space-evenly;
                    justify-content: center;
                }

                & > .checkbox-wrapper {
                    flex: 0 0 48%;
                    display: grid;
                    grid-gap: 1rem;
                    justify-items: center;
                    padding: 1rem;
                    background: $bg-color-healthConcern;
                    border-radius: 5px;

                    @media only screen and (min-width: $tablet-size) {
                        border-radius: 10px;
                        flex: 0 0 22%;
                    }

                    .wrapper {
                        display: grid; 
                        width: 100%;
                        overflow: hidden;
                        .emoji {
                            grid-row: 1/-1;
                            grid-column: 1/-1;
                            width: 100%;

                        }

                        input {
                            grid-row: 1;
                            grid-column: 1/-1;
                            margin-left: 0.5rem;
                            z-index: 2;
                        }
                    }
                    
                    &:hover {
                        filter: saturate(2);
                    }
                    &:hover  img{
                        transform: scale(1.05);
                    }
                }
            }

        }

        .nutrient-color-link-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;
            padding: .6rem;
            text-decoration: none;
        
            .nutrient-name-color-wrapper {
                display: flex;
                align-items: center;
                gap: .7rem;
                svg {
                    width: 1rem;
                    height: 1rem;
                }

                .vitamin1 {
                    fill: #987720;
                }
            
                .vitamin2 {
                    fill: #e7ad00;
                }
            
                .vitamin3 {
                    fill: #f79700;
                }
            
                .vitamin4 {
                    fill: #f95800;
                }
            
                .vitamin5 {
                    fill: #f62300;
                }
            
                .vitamin6 {
                    fill: #f2004e;
                }
            
                .vitamin7 {
                    fill: #bf006e;
                }

                .mineral1 {
                    fill: #7e00b7;
                }
            
                .mineral2 {
                    fill: #5100e9;
                }
            
                .mineral3 {
                    fill: #3b7ded;
                }
            
                .mineral4 {
                    fill: #0cb4d3;
                }
            
                .mineral5 {
                    fill: #00db89;
                }
            
                .mineral6 {
                    fill: #00bf4f;
                }
            
                .mineral7 {
                    fill: #009d1c;
                }
            }
        }

        .vitamin1border {
            border: 4px solid #e6cb00;
            color: #987720;
        }
    
        .vitamin2border {
            border: 4px solid #e7ad00;
            color: #e7ad00;
        }
    
        .vitamin3border {
            border: 4px solid #f79700;
            color: #f79700;
        }
    
        .vitamin4border {
            border: 4px solid #f95800;
            color: #f95800;
        }
    
        .vitamin5border {
            border: 4px solid #f62300;
            color: #f62300;
        }
    
        .vitamin6border {
            border: 4px solid #f2004e;
            color: #f2004e;
        }
    
        .vitamin7border {
            border: 4px solid #bf006e;
            color: #bf006e;
        }

        .mineral1border {
            border: 4px solid #7e00b7;
            color: #7e00b7;
        }
    
        .mineral2border {
            border: 4px solid #5100e9;
            color: #5100e9;
        }
    
        .mineral3border {
            border: 4px solid #3b7ded;
            color: #3b7ded;
        }
    
        .mineral4border {
            border: 4px solid #0cb4d3;
            color: #0cb4d3;
        }
    
        .mineral5border {
            border: 4px solid #00db89;
            color: #00db89;
        }
    
        .mineral6border {
            border: 4px solid #00bf4f;
            color: #00bf4f;
        }
    
        .mineral7border {
            border: 4px solid #009d1c;
            color: #009d1c;
        }
    }

    .recalculator-wrapper {
        text-align: center;
        display: grid;
        grid-gap: 2rem;
        padding: 1rem 0;
        background-color: #fff;
        border-radius: 5px;

        @media only screen and (min-width: $tablet-size) {
            border-radius: 10px;
        }

    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }    
}

.descriptiveContent{
    background: #fff;
    padding: 1rem 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    @media screen and (min-width: $desktop-size){
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    h2{
        text-align: center;
        @media screen and (min-width: $desktop-size){
            padding: 2rem;
        }
    }
}
.otherItemsContainer{
    margin-top: 1.5rem;
    background: #fff;
    padding: 1.5rem 10px;
    border-radius: 5px;
    @media screen and (min-width: $desktop-size){
        border-radius: 10px;
    }
    h2{
        text-align: center;
        @media screen and (min-width: $desktop-size){
            padding: 2rem;
        }
    }

}

.otherItems{
    padding: 1rem 0;
    display: flex;
    flex-flow: row wrap;
    grid-gap: .8rem;
    // justify-content: space-evenly;
    justify-content: center;
    a{
        flex: 1 0 40%;
        background: $bg-color-richFood;
        padding: 1rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        border-radius: 5px;
        max-width: 280px;
        @media screen and (min-width: $desktop-size){
            flex: 0 0 20%;
            // max-width: 200px;
        }
        
        .otherItem{
            width: 100%;
            border-radius: 5px;
            @media screen and (min-width: $desktop-size){
                border-radius: 10px;
            }

            .image-wrapper{
                background: #fff;
                // padding: 1rem;
                width: 100%;
                text-align: center;
                // min-height: 180px;
                display: flex;
                flex-flow: column;
                justify-content: center;
                // align-items: center;
                border-radius: 5px;
                overflow: hidden;
                @media screen and (min-width: $desktop-size){
                    border-radius: 10px;
                }
                img{
                    // width: 80%;
                    @media screen and (min-width: $desktop-size){
                        // width: 65%;
                        // max-width: 90px;
                    }
                }


            }
        }

        @media screen and (min-width: $desktop-size){
            border-radius: 10px;
        }
        h4{
            text-align: center;
            padding: .5rem 0 0 0;
            font-size: 24px;
        }
    }
    a:hover{
        filter: saturate(2);
    }
    a:hover img{
        transform: scale(1.05);
    }
}