*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
@import "../sass/variables";

//============== HEADER =============
@import "../sass/Header/header";
@import "../sass/Header/navigation";

//======BASIC COMPONENT ============
@import "../sass/basicComponents";

//============== HOME =============
@import "../sass/home";
@import "../sass/subscribe";
@import "../sass/search";
@import "../sass/recalculate";


//============== ABOUT=============
@import "../sass/about";
//============== CONTACT ==========
@import "../sass/contact";
//============== TEAM =============
@import "../sass/team";
//============== QUIZ =============
@import "../sass/Quiz/Quiz";

//============== NutrientCalculator =============
@import "../sass/NutrientCalculator/nutrientresults";
@import "../sass/NutrientCalculator/chart";
@import "../sass/NutrientCalculator/nutrientcalculator";
@import "../sass/NutrientCalculator/nutrientstart";

//============== NOT FOUND PAGE =============
@import "../sass/notFound";

//============== DESCRIPTION PAGE =============
@import "../sass/descriptionPage";
//============== DESCRIPTION PAGE =============
@import "../sass/vitaminSinglePage";
//============== FOOTER =============
@import "../sass/Footer/footer";