* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #815497;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
}
.header h1 {
  background-color: white;
  color: black;
  padding: 0.2rem 0.5rem;
  border: 2px solid black;
}
.header a {
  text-decoration: none;
}

.navigation {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
  height: 100%;
}
.navigation ul a {
  color: #FFF;
  text-decoration: none;
}
.navigation ul a:hover {
  color: white;
}
.navigation ul a:hover li {
  border-bottom: 6px solid #F89827;
}
.navigation ul a, .navigation ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.navigation ul li {
  border-bottom: 6px solid #815497;
}

.btn {
  font-family: "Quicksand", sans-serif;
  height: 58px;
  font-size: 28px;
  padding: 12px 43px 12px 43px;
  font-weight: bold;
  border-radius: 5px;
  background: #815497;
  color: #ffffff;
}
.btnactive {
  background: #B277CE;
}
.btn:hover {
  background: #76299B;
}
.btn:focus {
  background: #815497;
}
@media screen and (min-width: 900px) {
  .btn {
    height: 72px;
    font-size: 36px;
    padding: 13px 50px;
  }
}

input {
  background: #FAF1FF;
  border: none;
  border-radius: 5px;
  height: 40px;
}

textarea {
  background: #FAF1FF;
  border: none;
  border-radius: 5px;
  height: 150px;
  resize: none;
}

input[type=submit] {
  font-family: "Quicksand", sans-serif;
  height: 58px;
  font-size: 28px;
  padding: 12px 43px 12px 43px;
  font-weight: bold;
  border-radius: 5px;
  background: #815497;
  color: #ffffff;
}

.App {
  background: #FAF1FF;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100vh;
}

.main {
  flex: 1;
}

.subscribe-container {
  background: #fff;
  border-radius: 5px;
  padding: 1.5rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}
.subscribe-container img {
  width: 50%;
  max-width: 200px;
  margin-bottom: 1.5rem;
}
.subscribe-container form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.subscribe-container form input[type=email] {
  width: 100%;
  margin: 0.5rem;
  margin: 1rem 0;
}
.subscribe-container form input[type=email]::placeholder {
  padding-left: 1rem;
}
@media screen and (min-width: 900px) {
  .subscribe-container form {
    flex-flow: row nowrap;
    border-radius: 10px;
  }
  .subscribe-container form input[type=email] {
    margin-right: 1rem;
  }
}

.about {
  padding: 3rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  background: #fff;
}
.about .image {
  order: 2;
  max-width: 250px;
  margin: 0 auto;
}
.about h2 {
  text-align: center;
}
.about .description {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  order: 3;
}
.about a {
  text-align: center;
  margin: 1.5rem 0;
}
.about a .btnCalculateHome {
  background: #FF6231;
  border: none;
}
@media screen and (min-width: 900px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
  .about .image {
    grid-row: span 2;
    max-width: 300px;
  }
  .about h2, .about a {
    text-align: left;
  }
  .about h2 {
    display: flex;
    align-items: flex-end;
  }
}

.contact {
  background: #FFF;
  margin: 2rem 3rem;
  padding-bottom: 3rem;
  border-radius: 10px;
}
.contact span {
  color: red;
}
.contact h2 {
  padding: 2rem;
  text-align: center;
  color: #815497;
}
.contact p {
  padding: 0 1rem;
}
.contact form {
  padding: 2.5rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}
.contact form div {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.contact form .contact-name,
.contact form .contact-phone {
  flex-flow: row nowrap;
  gap: 0.5rem;
}
.contact form .firstName,
.contact form .lastName,
.contact form .country,
.contact form .phone {
  flex: 1;
}
.contact form .contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
}

.team {
  display: flex;
  flex-flow: column nowrap;
}
.team .teamMember {
  background: #FCEDD3;
}
.team .teamMember .teamMemberDescription {
  background: #fff;
}

.quizPage .quizAbout {
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  margin: 1rem;
  gap: 1.5rem;
}
.quizPage .quizAbout button {
  background: #9F9F9F;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
}
.quizPage .quiz {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem 3rem;
}
.quizPage .quiz .progress .progressInNumber {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.quizPage .quiz .progress .possibleProgress {
  height: 10px;
  background-color: #D0D0D0;
}
.quizPage .quiz .progress .actualProgress {
  height: 10px;
  background-color: #8D8D8D;
}
.quizPage .quiz .question {
  padding: 1rem 0;
}
.quizPage .quiz .question h3 {
  margin-bottom: 0.5rem;
}
.quizPage .quiz .question .questionDetail {
  color: #707070;
  margin-bottom: 1rem;
}
.quizPage .quiz .question .quizAnswer {
  border: 1px solid #707070;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 60%;
}
.quizPage .quiz .question .quizAnswer .answer {
  display: flex;
  gap: 0.3rem;
}
.quizPage .quiz .question .nextButton {
  display: flex;
  justify-content: flex-end;
}
.quizPage .quiz .question .nextButton button {
  background: #9F9F9F;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
}
.quizPage .showResult {
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  margin: 1rem;
  gap: 1rem;
}
.quizPage .showResult .result {
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  gap: 1rem;
}
.quizPage .showResult .result p:first-of-type {
  font-size: 3rem;
}
.quizPage .showResult .result button {
  background: #9F9F9F;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
}
.quizPage .showResult .moreOptions {
  display: flex;
  gap: 1rem;
}
.quizPage .showResult .moreOptions .nutrientCalculator,
.quizPage .showResult .moreOptions .searchFood {
  border: 1px solid black;
  display: flex;
  gap: 0.5rem;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.quizPage .showResult .moreOptions .nutrientCalculator button,
.quizPage .showResult .moreOptions .searchFood button {
  background: #9F9F9F;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
}
.quizPage .showResult .moreOptions .nutrientCalculator p,
.quizPage .showResult .moreOptions .searchFood p {
  text-align: center;
  max-width: 80%;
}

img {
  max-width: 100%;
  height: auto;
}

.search {
  padding: 1rem;
  border: 2px solid #ccc;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;
}
.search .userSearchControls input[type=text] {
  margin-right: 1rem;
}

.descriptionPage {
  max-width: 1200px;
  margin: auto;
}

.detailsContainer {
  margin: 1rem;
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.itemDescription {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.itemContent {
  display: flex;
  gap: 1rem;
}

.tables {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

.tableContent {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tableContentHeading h3 {
  text-align: center;
}

.tableContentItems {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.tableContentItem {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}

.imagesContent {
  text-align: center;
  width: 60%;
  margin: auto;
}

.otherItemsContainer {
  max-width: 60%;
  margin: auto;
  text-align: center;
}

.otherItemsContainer > div, .imagesContent > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.otherItems {
  display: flex;
  gap: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
  background: #815497;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */